@import "../../../App.scss";

.signup-section {
}

.signup-header {
  .header-heading {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
  .header-text {
    @include sub-text;
  }
}
.accounts {
  .account {
    border: 1px solid #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 16px;
    background: #fafafa;
    margin: 20px auto;
    &:hover {
      border: 1px solid #23a323;
      cursor: pointer;
    }
  }
  .account__inner {
    display: flex;
    align-items: center;
  }
  .account__type {
    margin-left: 20px;
  }
  .account__text {
    @include sub-text;
  }
}

.coming-soon {
  margin-top: 35px;
  height: 20px;
  color: white;
  border-radius: 100px;
  font-size: 10px;
  border: transparent;
  padding: 10px 15px;
  background-color: #23a323;
}

.account-holder {
  margin-top: 20px;
  .account-holder-cta {
    @include app-cta;
  }
}
